body {
  background-color: #ddf;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* style belongs to App component. Should be moved to App.css */
.watched {
	margin: 0 auto;
	width: 30%;
}

.span {
	float: left;
}

/* 
Make styles more specific, especially when they will make a very obvious 
outcome in the layout
 */
img {
	border-right: 60px solid black;
	border-left: 60px solid black;
}

/* 
Same as .watched style ablove. Move to App.css. Also a different name 
would be better, to not confuse with all shorthand in CSS 
*/
.all {
	margin: 0 auto;
	width: 30%;
}